<div class="row mb-3">
  <div class="col-lg-8 offset-lg-2">
    <%= form_with model: post, url:[actor, post], id: "new_post" do |f| %> <%#url: [board, comment]は何を生成してる？boards/:board_id/comments??、idを付与しているのは下のエラーメッセージのパーシャルの位置を判定するため %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.label :scene %>
        <%= f.text_area :scene, class: 'form-control', id: 'js-new-post-scene', row: 4, placeholder: '好きなシーン' %>
      </div>
      <div class="form-group">
        <%= f.label :film_title %>
        <%= f.text_field :film_title, class: 'form-control', id: 'js-new-post-title', placeholder: '題名' %>
      </div>
      <div class="form-group">
        <%= f.label :author %>
        <%= f.text_field :author, class: 'form-control', id: 'js-new-post-author', placeholder: '投稿者名' %>
      </div>
      <%= f.submit '語る！', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
